BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
IndentPPDirectives: BeforeHash
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: true
ColumnLimit: 80
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  # Headers in <> without extension.
  - Regex:           '<([A-Za-z0-9\Q/-_\E])+>'
    Priority:        4
  # Headers in <> from specific external libraries.
  - Regex:           '<()\/'
    Priority:        3
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority:        2
  # Headers in "" with extension.
  - Regex:           '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority:        1
