[submodule "conan/conan-recipes"]
	path = conan/conan-recipes
	url = https://github.com/GrinlexGH/conan-recipes
[submodule "conan/conan-config"]
	path = conan/conan-config
	url = https://github.com/GrinlexGH/conan-config
