# Tools
.cache/
.PVS-Studio/
.vscode/*
.vs/
.idea/

# Build folders
build/
out/

# Do not ignore vscode launch.json
!.vscode/launch.json

# CMake user presets
CMakeUserPresets.json

# Gradle
android/.gradle
android/app/.cxx
android/local.properties
